html {
    height: 100%;
}

body {
    background-image: url("./img/background1.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    min-height: 100%;
}

.container {
    padding-top: 50px;
    text-align: center;
    font-size: 150%;
}

.image, .current-weather, .location {
    visibility: hidden;
}

input {
    width: 37%;
}

.card {
    background-color: rgba(0, 217, 255, 0.35);
}

@media (min-width: 544px) {  
  body {font-size:1rem;} /*1rem = 16px*/
}
